html {
    scroll-behavior: smooth;
}
@keyframes fromLeft {
    from {
        transform: translate(0%, -100%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
#navbar {
    animation: 1s fromLeft;
}
a:hover, .column:hover {
    transition: transform 100ms ease-in;
    transform: scale(1.05);
}