html {
    scroll-behavior: smooth;
}

* {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
}

#portrait {
    border-radius: 50%;
}

#flag-en, #flag-fr {
    font-size: 1.5em;
}

a:hover {
    transition: transform 100ms ease-in;
    transform: scale(1.05);
}
